*~
*.swp

*_gendata.go
/build
/generate
coverage.html
coverage.txt
.git-hooks.redirected

*.tar
*.tar.*
*.spec
.static.*
/debian
/packages

*.stamp
test/e2e/**/output

test/statistics-analysis/output
