*~
*.swp

*_gendata.go
/build
/deployment/operator/bundle/
/build-aux
/generate
coverage.html
coverage.txt
.git-hooks.redirected

*.tar
*.tar.*
*.spec
.static.*
/debian
/packages

*.stamp
test/e2e/**/output

test/statistics-analysis/output
*.test

# Extracted sysfs fixture directories used by pkg/sysfs, pkg/resmgr/lib/memory,
# and pkg/topology tests. These are unpacked from tarballs at test time and
# should not be tracked.
pkg/sysfs/testdata/
pkg/resmgr/lib/memory/testdata/
pkg/topology/testdata/
