apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
  ##
  ## Core Operator Permissions
  ##
  - apiGroups:
    - config.nri
    resources:
    - templatepolicies
    - templatepolicies/status
    - balloonspolicies
    - balloonspolicies/status
    - topologyawarepolicies
    - topologyawarepolicies/status
    - nriplugindeployments
    - nriplugindeployments/status
    verbs:
    - "*"
  - apiGroups:
    - topology.node.k8s.io
    resources:
    - noderesourcetopologies
    verbs:
    - create
    - get
    - update
  ##
  ## Permissions for Helm Release Management
  ## Helm needs these to create/get/update the release state secrets.
  ##
  - apiGroups:
    - ""
    resources:
    - secrets
    - events
    verbs:
    - create
    - get
    - list
    - watch
    - update
    - patch
    - delete
  ##
  ## Rules for config.nri/v1alpha1, Kind: NriPluginDeployment
  ## (Resources the Helm chart will actually deploy)
  ##
  - apiGroups:
    - "rbac.authorization.k8s.io"
    - "apps"
    - ""
    resources:
    - "clusterrolebindings"
    - "clusterroles"
    - "rolebindings"
    - "roles"
    - "daemonsets"
    - "configmaps"
    - "serviceaccounts"
    - "namespaces"
    verbs:
    - "*"
  #+kubebuilder:scaffold:rules
