apiVersion: v1
kind: Secret
metadata:
  name: nri-resource-annotator-secret
  namespace: {{ .Release.Namespace }}
data:
  svc.crt: {{ .Values.service.base64Crt }}
  svc.key: {{ .Values.service.base64Key }}
type: Opaque