apiVersion: v1
kind: Secret
metadata:
  name: nri-resource-annotator-secret
  namespace: {{ .Release.Namespace }}
{{- if (not (or (eq .Values.service.certificateIssuer nil)
                (eq .Values.service.certificateIssuer ""))) }}
  annotations:
    cert-manager.io/allow-direct-injection: "true"
{{- end }}
type: kubernetes.io/tls
data:
{{- if (or (eq .Values.service.certificateIssuer nil)
           (eq .Values.service.certificateIssuer "")) }}
  tls.crt: {{ .Values.service.base64Crt }}
  tls.key: {{ .Values.service.base64Key }}
{{- else }}
  tls.crt: ""
  tls.key: ""
{{- end }}
type: Opaque