apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: nri-resource-annotator
{{ if (not (or (eq .Values.service.certificateIssuer nil)
               (eq .Values.service.certificateIssuer ""))) }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/nri-resource-annotator
{{ end }}
webhooks:
- name: nri-resource-annotator.noderesource.dev
  sideEffects: None
  admissionReviewVersions: ["v1"]
  rules:
    - apiGroups:
        - "*"
      apiVersions:
        - "*"
      operations:
        - CREATE
        - UPDATE
      resources:
        - pods
  objectSelector:
    matchExpressions:
      - key: helm.sh/chart
        operator: NotIn
        values: ["{{ .Chart.Name }}-{{ .Chart.Version }}"]
  failurePolicy: Fail
  clientConfig:
    service:
      namespace: {{ .Release.Namespace }}
      name: nri-resource-annotator
    {{- if (or (eq .Values.service.certificateIssuer nil)
               (eq .Values.service.certificateIssuer "")) }}
    caBundle: {{ .Values.service.base64Crt }}
    {{- end }}
