apiVersion: v1
kind: ConfigMap
metadata:
  name: nri-resource-policy-config.default
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "topology-aware-plugin.labels" . | nindent 4 }}
data:
  nri-resource-policy.cfg: |
    {{- toYaml .Values.config | nindent 4 }}
