apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    {{- include "nri-plugin.labels" . | nindent 4 }}
  name: nri-memtierd
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
    {{- include "nri-plugin.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
      {{- include "nri-plugin.labels" . | nindent 8 }}
    spec:
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      nodeSelector:
        kubernetes.io/os: "linux"
    {{- with .Values.nodeSelector }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
      hostPID: true
      {{- if .Values.nri.patchRuntimeConfig }}
      initContainers:
      - name: patch-runtime
        image: {{ .Values.initContainerImage.name }}:{{ .Values.initContainerImage.tag | default .Chart.AppVersion }}
        imagePullPolicy: {{ .Values.initContainerImage.pullPolicy }}
        volumeMounts:
        - name: containerd-config
          mountPath: /etc/containerd
        - name: crio-config
          mountPath: /etc/crio/crio.conf.d
        - name: dbus-socket
          mountPath: /var/run/dbus/system_bus_socket
        securityContext:
          privileged: true
      {{- end }}
      containers:
        - name: nri-memtierd
          command:
            - nri-memtierd
            - --idx
            - "45"
            - --config
            - /etc/nri/memtierd/config.yaml
            {{- if .Values.outputDir }}
            - --run-dir
            - /run-dir
            {{- end }}
            - --cgroups-dir
            - /sys/fs/cgroup
            - -v
          image: {{ .Values.image.name }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            requests:
              cpu: {{ .Values.resources.cpu }}
              memory: {{ .Values.resources.memory }}
          securityContext:
            privileged: true
          volumeMounts:
          - name: memtierd-config-vol
            mountPath: /etc/nri/memtierd
          - name: nrisockets
            mountPath: /var/run/nri
          - name: host-bitmap
            mountPath: /sys/kernel/mm/page_idle/bitmap
          - name: cgroups-vol
            mountPath: /sys/fs/cgroup
          {{- if .Values.outputDir }}
          # Set outputDir parameter to access memtierd.output files from host
          - name: run-dir-vol
            mountPath: /run-dir
          {{- end }}
      volumes:
      - name: memtierd-config-vol
        configMap:
          name: nri-memtierd-config.default
      - name: nrisockets
        hostPath:
          path: /var/run/nri
          type: DirectoryOrCreate
      - name: host-bitmap
        hostPath:
          path: /sys/kernel/mm/page_idle/bitmap
      - name: cgroups-vol
        hostPath:
          path: /sys/fs/cgroup
          type: Directory
      {{- if .Values.outputDir }}
      - name: run-dir-vol
        hostPath:
          path: {{ .Values.outputDir }}
          type: DirectoryOrCreate
      {{- end }}
      {{- if .Values.nri.patchRuntimeConfig }}
      - name: containerd-config
        hostPath:
          path: /etc/containerd/
          type: DirectoryOrCreate
      - name: crio-config
        hostPath:
          path: /etc/crio/crio.conf.d/
          type: DirectoryOrCreate
      - name: dbus-socket
        hostPath:
          path: /var/run/dbus/system_bus_socket
          type: Socket
      {{- end }}
