name: helm linter

on: 
  pull_request:
    paths:
      - 'deployment/helm/**'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.0.0
        with:
          version: v3.11.2

      - name: Run linter for all the charts
        run: helm lint deployment/helm/*
